{
    "presets": [
        ["env", {
            "browsers": ["last 2 versions"]
        }],
        "react",
        "stage-2"
    ],
    "plugins": [
        "transform-export-extensions",
        "transform-decorators-legacy",
        "react-hot-loader/babel"
    ]
}
